<div id="<%= dom_id person %>">
  <p>
    <strong>Day:</strong>
    <%= person.day %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= person.time %>
  </p>

  <p>
    <strong>Peoplenumber:</strong>
    <%= person.peopleNumber %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Mobil:</strong>
    <%= person.mobil %>
  </p>

</div>
