<!DOCTYPE html>
<html>
  <head>
    <title>Hambaretterem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
    <%= stylesheet_link_tag "booking", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Főoldal</a>
      <a href="/foods">Étlap</a>
      <a class="active" href="/people/new">Új foglalás</a>
      <a href="/people">Eddigi foglalások</a>
    </div>

<h1>Új étel</h1>
    <div class="container">
    <%= form_for @person do |p| %>
        <div class="row">
            <div class="col col-6 col-sm-4">
                <div>
                    <p>Válasszon egy dátumot:</p>
                    <%= p.text_field :day, placeholder: "pl. 2022.04.06." %>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col col-6 col-sm-4">
                    <div>
                    <p>Időpont:</p>
                    <%= p.text_field :time, placeholder: "pl. 10:00"%>
                    </div>
                </div>
        </div>
        <div class="row">
        <div class="col col-6 col-sm-4">
            <div>
              <p>Helyek száma:</p>
              <%=  p.number_field :peopleNumber%>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col col-6 col-sm-4">
            <div>
              <p>Név:</p>
              <%= p.text_field :name %>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col col-6 col-sm-4">
            <div>
              <p>Telefonszám:</p>
              <%= p.text_field :mobil %>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col col-6 col-sm-2">
            <a class="btn btn-primary bg-secondary border-secondary" href="/people">Vissza</a>
            </div>
            <div class="col col-8 col-sm-2">
            <%= p.submit "Létrehozás"%>
            </div>    
        </form>
        </div>
        </div>
        <% end %>
    </div>

</body>
</html>
