<!DOCTYPE html>
<html>
  <head>
    <title>Hambaretterem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>

  </head>

  <body>
    <div class="topnav">
      <a href="/">Főoldal</a>
      <a class="active" href="/foods">Étlap</a>
      <a href="/people/new">Új foglalás</a>
      <a href="/people">Eddigi foglalások</a>
    </div>
  <div class="table-responsive">

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th scope="col">Név</th>
    <th scope="col">Ár</th>
    <th scope="col">Kategória</th>
    <th scope="col">Leírás</th>
    <th scope="col">Szerkesztés</th>
    <th scope="col">Megtekintés</th>
  </tr>
</thead>
<% @foods.each do |food| %>
<tbody>
<tr>
<td><%= food.name %></td>
<td><%= food.price %> Ft</td>
<td><%= food.category %></td>
<td><%= food.description %></td>
<td style="text-align: center;"> <%= link_to "Módosítás", edit_food_path(food.id) %> </td>
<td style="text-align: center;"> <%= link_to "Részletek", food %> </td>
</tr>
</tbody>
<% end %>
</table>
    </div>
    <div>
      <div style="text-align: center; padding-top: 20px;">
      <a class="btn btn-primary bg-secondary border-secondary" href="/foods/new"> Új étel hozzáadása</a>
      </div>
    </div>
    </body>
</html>
