<!DOCTYPE html>
<html>
  <head>
    <title>Hambaretterem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
    <%= stylesheet_link_tag "booking", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Főoldal</a>
      <a class="active" href="/foods">Étlap</a>
      <a href="/people/new">Új foglalás</a>
      <a href="/people">Eddigi foglalások</a>
    </div>

<h1>Új étel</h1>
    <div class="container">
    <%= form_for @food do |f| %>
        <div class="row">
            <div class="col col-6 col-sm-4">
                <div>
                    <p>Név:</p>
                    <%= f.text_field :name %>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col col-6 col-sm-4">
                    <div>
                    <p>Ár:</p>
                    <%= f.number_field :price %>
                    </div>
                </div>
        </div>
        <div class="row">
        <div class="col col-6 col-sm-4">
            <div>
              <p>Leírás:</p>
              <%= f.text_field :description %>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col col-6 col-sm-4">
            <div>
              <p>Kategória:</p>
              <%= f.select :category, ["Előétel","Főétel","Leves","Desszert","Ital"] %>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col col-6 col-sm-2">
            <a class="btn btn-primary bg-secondary border-secondary" href="/foods">Vissza</a>
            </div>
            <div class="col col-8 col-sm-2">
            <%= f.submit "Létrehozás"%>
            </div>    
        </form>
        </div>
        </div>
        <% end %>
    </div>

</body>
</html>
